*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: rgb(6, 19, 66);
    font-family: 'Alkatra', cursive;
}

main{
    text-align: center;
    margin: 0 250px;
    font-size: 30px
}

h1{
    color: rgb(231, 77, 77);
    font-size: 2rem;
    margin: 1.5rem 0;
}

p{
    display: inline-block;
    font-size: 1rem;
    color: white;
    margin: 1.5rem 0;
}

section.float-left

.personal-badg{
    display: inline-block;
    background-color: rgb(6, 19, 66);
    width: 33%;
    padding: 1rem;
}

img{
    width: 20%;
    float: left;
}

.info{
    padding: .6rem;
    width: 80%;
    float: left;
}

.team_badg{
    font-size: 1rem;
}

.name, .position, .contact{
    float: left;
    display: inline-block;
    color: white;
    font-size: 1rem;
    padding: .2rem;
}

.name{
    font-size: 1.5rem;
}

.contact{
    color: aqua;
}